{% extends "appmusic/base.html" %}
{% block content %}

<!--https://schema.org/MusicPlaylist-->
<span vocab="http://schema.org/"  typeof="MusicPlaylist">

<h1>
    {{ library.name }}
    {% if user == library.user %}
        (<a href="{% url 'appmusic:library_edit' library.id %}">edit</a>)
    {% endif %}
</h1>

<h2>
    <b>Artists</b>
    {% if user.is_authenticated %}
        (<a href="{% url 'appmusic:artist_create' library.id %}">add</a>)
    {% endif %}
</h2>
<ul>
    {% for artist in library.artists.all %}
        <li><a href="{% url 'appmusic:artist_detail' library.id artist.id  g%}">
            {{ artist.nomArtista }}</a></li>
    {% empty %}<li>Sorry, no artists for this library.</li>
    {% endfor %}
</ul>

<h2>
    <b>Albums</b>
    {% if user.is_authenticated %}
        (<a href="{% url 'appmusic:album_create' library.id %}">add</a>)
    {% endif %}
</h2>
<ul>
    {% for album in library.albums.all %}
        <li><a href="{% url 'appmusic:album_detail' library.id album.id  g%}">
            {{ album.nomAlbum }}</a></li>
    {% empty %}<li>Sorry, no albums for this library.</li>
    {% endfor %}
</ul>

<h2>
    <b>Tracks</b>
    {% if user.is_authenticated %}
        (<a href="{% url 'appmusic:track_create' library.id %}">add</a>)
    {% endif %}
</h2>
<ul>
    {% for track in library.tracks.all %}
        <li><a href="{% url 'appmusic:track_detail' library.id track.id  g%}">
            {{ track.nomTrack }}</a></li>
    {% empty %}<li>Sorry, no tracks for this library.</li>
    {% endfor %}
</ul>

<h2>Reviews</h2>
{% if library.libraryreview_set.all|length > 0 %}
<span rel="aggregateRating">
    <p typeof="AggregateRating">
        Average rating <span property="ratingValue">{{ library.averageRating|stringformat:".1f" }}</span>
        {% with library.libraryreview_set.all|length as reviewCount %}
        from <span property="reviewCount">{{ reviewCount }}</span> review{{ reviewCount|pluralize }}
        {% endwith %}
    </p>
</span>
<ul rel="review">
    {% for review in library.libraryreview_set.all %}
        <li typeof="Review">
            <p rel="reviewRating" typeof="Rating">
                <span property="worstRating" content="{{ RATING_CHOICES.0.0 }}"></span>
                <span property="ratingValue">{{ review.rating }}</span> star{{ review.rating|pluralize }}
                {% with RATING_CHOICES|last as best %}
                <span property="bestRating" content="{{ best.0 }}"></span>
                {% endwith %}
            </p>
            <p property="description">{{ review.comment }}</p>
            <p>Created by <span property="author">{{ review.user }}</span></p>
        </li>
    {% endfor %}
</ul>
</span>
{% endif %}

<h3>Add Review</h3>
<form action="{% url 'appmusic:review_create' library.id %}" method="post">
    {% csrf_token %}
    Message: <textarea name="comment" id="comment" rows="4"></textarea>
    <p>Rating:</p>
    <p>{% for rate in RATING_CHOICES %}
    <input type="radio" name="rating" id="rating{{ forloop.counter }}" value="{{ rate.1 }}" />
    <label for="choice{{ forloop.counter }}">{{ rate.1 }} star{{ rate.0|pluralize }}</label>
    <br/>{% endfor %}
    </p>
    <input type="submit" value="Submit review" />
</form>

{% endblock %}
{% block footer %}
    Created by {{ library.user }} on {{ library.date }}
{% endblock %}
